{% extends 'layout.html.twig' %}
{% block title %}Hello ProfileController!
{% endblock %}
{% block content %}
	{{ form_start(form) }}
	{{ form_row(form) }}
	<button class="btn btn-success">Edit</button>
	{{ form_end(form) }}

{% endblock %}


